body {
    background: url(images/background-image.jpg) no-repeat center center/ cover;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow:  0 0 15px;
}

#timer {
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    padding: 0;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
}

#play {
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset {
    background-color: red;
}

